<!doctype html>
<html lang="en" ng-app="pokedex">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pokedex by Igor</title>

    <!-- Styles (Less) -->
    <link rel="stylesheet/less" href="css/style.less">

    <!-- Scripts -->
    <script src="js/less.min.js"></script>


    <link rel="stylesheet" href="bower_components/normalize-css/normalize.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">


</head>
<body>

<main-bodyin></main-bodyin>




<section ng-controller="StorageController">
    <section>
        <section ng-controller="TabController as tabCtrl" class="tabs-in">
            <ul class="nav nav-pills  buttons">
                <li ng-class="{ active:tabCtrl.isSet(1) }">
                    <a href="" ng-click="tabCtrl.setTab(1)" class="button-nav" >Main</a>
                </li>
                <li ng-class="{ active:tabCtrl.isSet(2) }">
                    <a href="" ng-click="tabCtrl.setTab(2);load()" class="button-nav">Favorites</a>
                </li>

            </ul>


            <div class="main__row" ng-init="tab = 1" >
            </div>

            <div ng-show="tabCtrl.isSet(1)">


                {{1+2 }}


                <div class="main__wrapper" >

                    <div class="main__container">

                        <div ng-controller="PokeController as mainCtrl">
                            <div ng-controller="GalleryController as gallery">
                                <div   ng-repeat="poke in mainCtrl.pokemons.objects" id='ngRepeatDiv' class="main__poke-mini-info-wrapper forJquery  "
                                       ng-click="gallery.setCurrent(mainCtrl.pokemons.objects.indexOf(poke));mainCtrl.setCurrentId(poke.pkdx_id);changeClass3();">
                                    <!--col-md-5 col-xs-7 col-xl-3-->

                                    <div class="main__poke-mini-info-wrapper-2"  >

                                        <div class="main__poke-mini-text">
                                            <p class="main__poke-Name"> {{poke.name}}</p>
                                            <p class="main__poke-Attack">Attack: {{poke.attack}}</p>

                                            <div ng-repeat="type in poke.types"  class="main__poke-type" >
                                                <button class="main__poke-type-button {{type.name}}" id="content">

                                                    {{type.name}}

                                                </button>
                                            </div>

                                        </div><!--main__poke-mini-text-->
                                        <img class="main__poke-img" ng-src="{{'http://pokeapi.co/media/img/'+(poke.pkdx_id)+'.png'}}"/>

                                        <a href="#" class="main__favorites-a mainCtrl.pokemons.objects[gallery.current]"
                                           ng-click="save(mainCtrl.pokemons.objects[gallery.current],data.pkdx_id )">
                                        </a>

                                    </div> <!--main__poke-mini-info-wrapper-2-->

                                    <div class="description__form description__form-show " id="d-Form">

                                        <div class='description__form-stats' >
                                            <p >{{mainCtrl.pokemons.objects[gallery.current].name}} {{mainCtrl.currentId}}</p>
                                            <p> <img ng-src="{{'http://pokeapi.co/media/img/'+(mainCtrl.currentId)+'.png'}}"/> </p>
                                            <p >Attack: {{mainCtrl.pokemons.objects[gallery.current].attack}} </p>
                                            <p style="" >Defense: {{mainCtrl.pokemons.objects[gallery.current].defense}} </p>
                                            <p >HP: {{mainCtrl.pokemons.objects[gallery.current].hp}} </p>
                                            <p >Height: {{mainCtrl.pokemons.objects[gallery.current].height}} </p>
                                            <p >Speed: {{mainCtrl.pokemons.objects[gallery.current].speed}} </p>
                                            <p >Weight: {{mainCtrl.pokemons.objects[gallery.current].weight}} </p>

                                            <button class="btn   col-md-6 " id="moreInfoBtn1" onclick="changeClass1()">Close</button>
                                        </div>
                                    </div><!--main__poke-mini-info-wrapper-->
                                </div>
                            </div> <!--gallery controller-->



                        </div> <!--wrapper-->

                    </div><!--main ctrl-->
                </div>



                <button class="btn  col-md-6 " id="moreInfoBtn" onclick="changeClass()">More info</button>


                <!--<first-tab></first-tab>-->



            </div>

            <div ng-show="tabCtrl.isSet(2)" >

                <!--<second-tab></second-tab>-->


                <div class="main__wrapper" >

                    <div class="main__container">

                        <div ng-controller="PokeController as mainCtrl">
                            <div ng-controller="GalleryController as gallery">
                                <div  id='ngRepeatDiv' class="main__poke-mini-info-wrapper forJquery  "
                                      ng-click="gallery.setCurrent(mainCtrl.pokemons.objects.indexOf(poke));mainCtrl.setCurrentId(poke.pkdx_id);changeClass3();">


                                    <div class="main__poke-mini-info-wrapper-2"  >

                                        <div class="main__poke-mini-text">
                                            <p class="main__poke-Name"> {{data.name}}</p>
                                            <p class="main__poke-Attack">Attack: {{data.attack}}</p>


                                            <div ng-repeat="type in data.types" class="main__poke-type" >
                                                <button class="main__poke-type-button {{type.name}}" id="content">
                                                    <!-- ng-click="gallery.setCurrent(mainCtrl.pokemons.objects.indexOf(poke));mainCtrl.setCurrentId(poke.pkdx_id)"-->
                                                    {{type.name}}

                                                </button>
                                            </div>

                                        </div><!--main__poke-mini-text-->
                                        <img class="main__poke-img" ng-src="{{'http://pokeapi.co/media/img/'+(data.pkdx_id)+'.png'}}"/>

                                        <a href="#" class="main__favorites-a-active mainCtrl.pokemons.objects[gallery.current]" onclick="locStorDel_IN()">
                                        </a>

                                    </div> <!--main__poke-mini-info-wrapper-2-->

                                    <div class=" description__form-show description__form-show-sec-tab" id="d-Form">

                                        <div class='description__form-stats' >
                                            <p >{{data.name}}</p>
                                            <p> <img ng-src="{{'http://pokeapi.co/media/img/'+(data.pkdx_id)+'.png'}}"/> </p>
                                            <p >Attack: {{data.attack}} </p>
                                            <p style="" >Defense: {{data.defense}} </p>
                                            <p >HP: {{data.hp}} </p>
                                            <p >Height: {{data.height}} </p>
                                            <p >Speed: {{data.speed}} </p>
                                            <p >Weight: {{data.weight}} </p>

                                        </div>
                                    </div><!--main__poke-mini-info-wrapper-->
                                </div>
                            </div> <!--gallery controller-->
                        </div> <!--wrapper-->
                    </div><!--main ctrl-->
                </div>





            </div>



        </section>

    </section> <!--stor ctrl-->
</section>


<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/ngstorage/ngStorage.min.js"></script>

<script src="js/all.js"></script>
<script src="js/app.js"></script>
</body>
</html>
