<!doctype html>
<html lang="en" ng-app="pokedex">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pokedex by Igor</title>

    <!-- Styles (Less) -->
    <link rel="stylesheet/less" href="css/style.less">

    <!-- Scripts -->
    <script src="js/less.min.js"></script>


    <link rel="stylesheet" href="bower_components/normalize-css/normalize.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">


</head>
<body>

<main-bodyin></main-bodyin>




<section ng-controller="StorageController">
    <section ng-controller="LockerController">
        <section ng-controller="TabController as tabCtrl" class="tabs-in">
            <ul class="nav nav-pills  buttons">
                <li ng-class="{ active:tabCtrl.isSet(1) }">
                    <a href="" ng-click="tabCtrl.setTab(1)" class="button-nav" >Main</a>
                </li>
                <li ng-class="{ active:tabCtrl.isSet(2) }">
                    <a href="" ng-click="tabCtrl.setTab(2);load()" class="button-nav">Favorites</a>
                </li>

            </ul>


            <div class="main__row" ng-init="tab = 1" >
            </div>

            <div ng-show="tabCtrl.isSet(1)">


                <first-tab></first-tab>



            </div>

            <div ng-show="tabCtrl.isSet(2)" >

                <second-tab></second-tab>

            </div>



        </section>

    </section> <!--stor ctrl-->
</section>


<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/ngstorage/ngStorage.min.js"></script>

<script src="js/all.js"></script>
<script src="js/app.js"></script>
</body>
</html>
