

<div class="main__wrapper" >

    <div class="main__container">

        <div ng-controller="PokeController as mainCtrl">
            <div ng-controller="GalleryController as gallery">
                <div  id='ngRepeatDiv' class="main__poke-mini-info-wrapper forJquery  "
                     ng-click="gallery.setCurrent(mainCtrl.pokemons.objects.indexOf(poke));mainCtrl.setCurrentId(poke.pkdx_id);changeClass3();">


                    <div class="main__poke-mini-info-wrapper-2"  >

                        <div class="main__poke-mini-text">
                            <p class="main__poke-Name"> {{data.name}}</p>
                            <p class="main__poke-Attack">Attack: {{data.attack}}</p>


                            <div ng-repeat="type in data.types" class="main__poke-type" >
                                <button class="main__poke-type-button {{type.name}}" id="content">
                                    <!-- ng-click="gallery.setCurrent(mainCtrl.pokemons.objects.indexOf(poke));mainCtrl.setCurrentId(poke.pkdx_id)"-->
                                    {{type.name}}

                                </button>
                            </div>

                        </div><!--main__poke-mini-text-->
                        <img class="main__poke-img" ng-src="{{'http://pokeapi.co/media/img/'+(data.pkdx_id)+'.png'}}"/>

                        <a href="#" class="main__favorites-a-active mainCtrl.pokemons.objects[gallery.current]" onclick="locStorDel_IN()">
                            </a>

                    </div> <!--main__poke-mini-info-wrapper-2-->

                    <div class=" description__form-show description__form-show-sec-tab" id="d-Form">

                        <div class='description__form-stats' >
                            <p >{{data.name}}</p>
                            <p> <img ng-src="{{'http://pokeapi.co/media/img/'+(data.pkdx_id)+'.png'}}"/> </p>
                            <p >Attack: {{data.attack}} </p>
                            <p style="" >Defense: {{data.defense}} </p>
                            <p >HP: {{data.hp}} </p>
                            <p >Height: {{data.height}} </p>
                            <p >Speed: {{data.speed}} </p>
                            <p >Weight: {{data.weight}} </p>

                        </div>
                    </div><!--main__poke-mini-info-wrapper-->
                </div>
            </div> <!--gallery controller-->
        </div> <!--wrapper-->
    </div><!--main ctrl-->
</div>



